.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.App-logo {
  height: 15vmin;
  border-radius: 50%;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.About-container {
  padding: 0px 50px;
}
.Typewriter-div {
  padding: 20px;
}
.custom-lang {
  font-weight: bold;
  text-decoration: underline;
}
